{{ $contact := .Site.Data.contact }}

<section id="contact" class="contact mt-5 p-3 p-lg-5 p-md-5">
  <div class="container">
    <h2 class="h2 my-5 text-center">Contact</h2>

    <form action="https://formspree.io/{{ $contact.email }}" method="POST">
      <div class="row justify-content-md-center">
        <div
          class="col-12 col-lg-4 col-md-4 rounded text-dark p-5"
          style="font-size: 18px"
        >
          {{ if $contact.address }}
          <div class="mb-3">
            <div class="text-uppercase text-muted">Address</div>
            <div>{{ $contact.address }}</div>
          </div>
          {{ end }} {{ if $contact.email }}
          <div class="mb-3">
            <div class="text-uppercase text-muted">Email</div>
            <div>{{ $contact.email }}</div>
          </div>
          {{ end }} {{ if $contact.phone }}
          <div class="mb-3">
            <div class="text-uppercase text-muted">Phone</div>
            <div>{{ $contact.phone }}</div>
          </div>
          {{ end }}
        </div>

        <div class="col-12 col-lg-6 col-md-6">
          <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  name="Name"
                  class="form-control"
                  placeholder="Name"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  name="Email"
                  class="form-control"
                  placeholder="you@domain.com"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Interested In:</label>
                <select type="text" name="learningtracks">
                  <option value="freeevent">FreeEvent</option>
                  <option value="workshop">LT1-Workshop</option>
                  <option value="executive">LT2-Executive</option>
                  <option value="online">LT3-Online</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Phone Number</label>
                <input
                  type="number"
                  name="Phone"
                  class="form-control"
                  placeholder="Phone Number"
                />
              </div>
            </div>

            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Your Location</label>
                <input
                  type="text"
                  name="Phone"
                  class="form-control"
                  placeholder="city-state"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Your Background & other queries (if you want to arrange AI awareness workshop at your college/company)</label>
                <textarea
                  placeholder="Message"
                  name="Message"
                  rows="5"
                  class="form-control"
                ></textarea>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
